<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings file="appSettings.config">
		<add key="StatsNumberOfLogItemsToDisplay" value="10"/>
		<add key="StatsPendingApprovalDownloadLimit" value="45"/>  <!-- value is in days -->
		<add key="StatsPendingApprovalMinimimDisplayAge" value="0"/>  <!-- value is in days -->

		<!-- Use these Urls to include titles, items, pages, and names on the chart -->
		<!--
		<add key="GoogleMonthlyChartUrl" value="http://chart.apis.google.com/chart?cht=bvg&amp;chs=900x300&amp;chbh=5,1&amp;chxt=x,y&amp;chdl=Titles|Items|Pages|Names&amp;chd=t:{0}&amp;chds=0,{1}&amp;chxr=0,0,{2}|1,0,{3}&amp;chxl=0:{4}&amp;chf=&amp;chco=2c50f2,ffcc00,99cc00,ff0000"/>
		<add key="GoogleCumulativeChartUrl" value="http://chart.apis.google.com/chart?cht=lc&amp;chs=900x300&amp;chxt=x,y&amp;chdl=Titles|Items|Pages|Names&amp;chd=t:{0}&amp;chds=0,{1}&amp;chxr=0,0,{2}|1,0,{3}&amp;chxl=0:{4}&amp;chf=&amp;chco=2c50f2,ffcc00,99cc00,ff0000"/>
		-->
		
		<!-- Use these Urls to include only items on the chart -->
		<add key="GoogleMonthlyChartUrl" value="http://chart.apis.google.com/chart?cht=bvg&amp;chs=900x300&amp;chbh=25,1&amp;chxt=x,y&amp;chdl=Items&amp;chd=t:{0}&amp;chds=0,{1}&amp;chxr=0,0,{2}|1,0,{3}&amp;chxl=0:{4}&amp;chf=&amp;chco=2c50f2"/>
		<add key="GoogleCumulativeChartUrl" value="http://chart.apis.google.com/chart?cht=lc&amp;chs=900x300&amp;chxt=x,y&amp;chdl=Items&amp;chd=t:{0}&amp;chds=0,{1}&amp;chxr=0,0,{2}|1,0,{3}&amp;chxl=0:{4}&amp;chf=&amp;chco=2c50f2"/>
	</appSettings>

	<connectionStrings configSource="connectionStrings.config" />

	<system.web>
		<httpRuntime executionTimeout="600" maxRequestLength="16384"/>

    </system.web>
</configuration>
