<?xml version="1.0"?>
<appSettings>
	<add key="InvalidProductionUsers" value="mlichtenberg|cfreeland"/>
	<add key="IsProduction" value="false"/>
	<!-- Full upload path for MARC files -->
	<add key="MarcUploadPath" value="\\servername\BHL1\upload\{0}.{1}"/>
	<!-- Drive letter of upload path for MARC files  (use server if no drive letter assigned) -->
	<add key="MarcUploadDrive" value="\\servername"/>
	<!-- Server name of upload path for MARC files -->
	<add key="MarcUploadServer" value="\\servername"/>
</appSettings>
