<?xml version="1.0"?>
<appSettings>
	<add key="IsProduction" value="false"/>
	<add key="CitationUrlFormat" value="http://localhost/page/{0}"/>
	<add key="CitationItemUrlFormat" value="http://localhost/item/{0}"/>
	<add key="CitationTitleUrlFormat" value="http://localhost/bibliography/{0}"/>
	<add key="UseIAViewer" value="true"/>
	<add key="UseRemoteFileAccessProvider" value="false"/>
</appSettings>
