<at.co.ait.web.common.Settings><settings><entry><string>alice</string><at.co.ait.web.common.UserPreferences><username>alice</username><password>pass</password><roles><string>ROLE_USER</string><string>ROLE_ADMIN</string></roles></at.co.ait.web.common.UserPreferences></entry></settings></at.co.ait.web.common.Settings>